<div ng-controller="AddItemController" ng-init="init()"> 
    <div class="modal-header modal-header-primary">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <form ng-submit="save(request)" id="addForm">
        	<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Name</span>
	                <input class="form-control" type="text" placeholder="Enter Item Name" ng-model="request.name" required="required" maxlength="60" list="newNames" />
	                <datalist id="newNames">
	                   <option ng-repeat="newItem in newItemNames" ng-value="newItem">{{newItem}}</option>
	                </datalist>
	            </div>
	        </div>
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Type</span>
	                <select class="form-control" ng-options="itemType as itemType for itemType in itemTypes" ng-model="request.itemType"></select>
	            </div>
	        </div>
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Weight (in grams)</span>
	                <input class="form-control" type="number" step="0.001" placeholder="Enter Weight (in grams)" ng-model="request.weight" required="required" />
	            </div>
	        </div>
	        <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Category</span>
                    <select class="form-control" ng-options="category.id as category.name for category in categories" ng-model="request.category" ng-change="setCategoryDescription()"></select>
                </div>
            </div>
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Supplier</span>
	                <select class="form-control" ng-options="supplier.id as supplier.name for supplier in suppliers" ng-model="request.supplier"></select>
	            </div>
	        </div>
	        <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Stock Type</span>
                    <select class="form-control" ng-options="stockType.id as stockType.name for stockType in stockTypes" ng-model="request.stockType"></select>
                </div>
            </div>
	        <div class="form-group" ng-show="barcode" access="ROLE_PRINT">
	            <div class="input-group">
                    <span class="input-group-addon">Barcode</span>
					<div class="print-section">
	                    <div class="barcodecontainer section-to-print">
	                        <img src="data:image/png;base64,{{barcode}}" style="float: left;" />
	                        <div class="barcodecaption col-xs-10 bar-tag-holder">
	                            <span class="col-xs-5 tag1">{{request.weight}} gm</span>
	                            <span class="col-xs-2 tag2">{{request.currCategory}}</span>
								<span class="col-xs-2 tag3">{{request.id}}</span>
	                        </div>
	                    </div>
                    </div>
                </div>
	        </div>
	        <div class="form-group" ng-show="request.id">
                <div class="input-group">
                    <span class="input-group-addon">Add One more ?</span>
                    <input class="form-control" type="checkbox" ng-model="onemore" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="addDialog.dismiss('cancel')">Close</button>
        <button type="submit" class="btn btn-primary" form="addForm">Save</button>
        <button class="glyphicon glyphicon-print btn btn-warning" ng-click="printBarcode()" ng-show="request.id" access="ROLE_PRINT"></button>
        <button class="glyphicon glyphicon glyphicon-eye-open btn btn-success" ng-click="previewBarcode()" ng-show="false" access="ROLE_PRINT"></button>
    </div>
</div>