<div ng-controller='EstimateController' ng-init="init()">
	<div class="container">
		<div class="row">
		  <form>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search item" ng-model="search.id" id='yuventoryBarcode' />
				<span class="input-group-btn">
					<button class="btn btn-default glyphicon glyphicon-search" type="submit" ng-click="searchItem(true)"></button>
					<button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="clearSearch()"></button>
				</span>
			</div>
		  </form>
		</div>
	</div>
	<div class="divider"><br /></div>
	<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
	<div class="panel panel-success" ng-if="search.hasResult==true && request.id != null">
		<div class="panel-heading">
			<h3 class="panel-title">{{request.name}}</h3>
		</div>
		<div class="panel-body" access="ROLE_ESTIMATE,ROLE_VIEW_ITEMS">
			<div class="form-inline col-xs-12">
	            <div class="input-group">
	                <span class="input-group-addon">ID: {{request.id}}</span>
	                <span class="input-group-addon"> </span>
	            </div>
	            <div class="input-group">
                    <span class="input-group-addon">Item Type: {{request.itemType}}</span>
                    <span class="input-group-addon"> </span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Weight (in gms): {{request.weight}}</span>
                    <span class="input-group-addon"> </span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Category: {{request.categoryDesc}}</span>
                    <span class="input-group-addon"> </span>
                </div>
	        </div>
		</div>
		<div class="panel-footer" ng-hide="request.sold" access="ROLE_ESTIMATE">
			<button class="btn btn-danger" ng-if="request.lendTo == null || request.lendTo == 0" ng-click="addItem(request)" access="ROLE_ESTIMATE">Add Item</button>
		</div>
		<hr />
		<div>
		  <div class="list-group" ng-repeat="item in addedItems2Estimate">
		      <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{item.name}}</h4>
			    <p class="list-group-item-text">
			         Weight: {{item.weight}}. Category: {{item.category}}<br/>
			         Per gram: {{item.perGram}}<br/>
			         Wasted grams: {{item.wasteGrams}}<br/>
			         Making Charges: {{item.makingCharges}}
    		    </p>
    		    <button class="btn btn-success pull-right" ng-click="modifyEstimatedItem(item)" access="ROLE_ESTIMATE">Modify</button>
			  </a>
		  </div>
		</div>
	</div>
</div>