<div ng-controller='EstimateController' ng-init="init()">
	<div class="container">
		<div class="row">
			<form>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search item" ng-model="search.id" id='yuventoryBarcode' />
					<span class="input-group-btn">
						<button class="btn btn-default glyphicon glyphicon-search" type="submit" ng-click="searchItem(true)"></button>
						<button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="clearSearch()"></button>
					</span>
				</div>
			</form>
		</div>
	</div>
	<div class="divider">
		<br />
	</div>
	<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
	<div class="panel panel-success" ng-if="search.hasResult==true && request.id != null">
		<div class="panel-heading">
			<h3 class="panel-title">{{request.name}}</h3>
		</div>
		<div class="panel-body" access="ROLE_ESTIMATE,ROLE_VIEW_ITEMS">
			<div class="form-inline col-xs-12">
				<div class="input-group">
					<span class="input-group-addon">ID: {{request.id}}</span>
					<span class="input-group-addon"> </span>
				</div>
				<div class="input-group">
					<span class="input-group-addon">Item Type: {{request.itemType}}</span>
					<span class="input-group-addon"> </span>
				</div>
				<div class="input-group">
					<span class="input-group-addon">Weight (in gms): {{request.weight}}</span>
					<span class="input-group-addon"> </span>
				</div>
				<div class="input-group">
					<span class="input-group-addon">Category: {{request.categoryDesc}}</span>
					<span class="input-group-addon"> </span>
				</div>
			</div>
		</div>
		<div class="panel-footer" ng-show="request.lendTo == null || request.lendTo == 0" access="ROLE_ESTIMATE">
			<button class="btn btn-warning" ng-if="request.lendTo == null || request.lendTo == 0" ng-click="addItem(request)" access="ROLE_ESTIMATE">Add Item to Estimate</button>
		</div>
	</div>
	<hr />
	<div class="estimate-section-print" ng-show="addedItems2Estimate.length > 0">
		<div class="list-group">
			<a class="list-group-item">
				<h4 class="list-group-item-heading">
					{{globals.owner[0]}}
					<div class="pull-right">
						{{getDate()}}
					</div>
				</h4>
				<p class="list-group-item-text"></p>
			</a>
		</div>
		<div class="panel panel-info" ng-repeat="item in addedItems2Estimate">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{item.name}} ({{item.weight}} gm)
					<div class="pull-right">
						{{item.categoryDesc}}
					</div>
				</h3>
			</div>
			<div class="panel-body">
				<div class="col-xs-12">
					<div class="col-xs-12 bg-danger">
					    <div class="col-xs-6">Wastage (%): {{item.wastage}}</div>
					    <div class="col-xs-6">Total Wastage Charges: <div class="pull-right">{{calculatedWastage(item)}}</div></div>
					</div>
					<div class="col-xs-12 bg-warning">
						<div class="col-xs-6">Making Charges Per Gram: {{item.makingCharges}}</div>
						<div class="col-xs-6">Total Making Charges: <div class="pull-right">{{calculatedMaking(item)}}</div></div>
					</div>
					<div class="col-xs-12 bg-info">
						<div class="col-xs-6">Price Per gram: {{item.perGram}}</div>
					    <div class="col-xs-6">Base Price: <div class="pull-right">{{basePrice(item)}}</div></div>
					</div>
					<div class="col-xs-12 bg-success">
						<div class="col-xs-6">Item ID: {{item.id}}</div>
					    <div class="col-xs-6">Price: <div class="pull-right">{{item.totalPrice}}</div></div>
					</div>
					<div ng-show="item.discAmount > 0">
						<div class="col-xs-12 bg-warning">
	                        <div class="col-xs-6"></div>
	                        <div class="col-xs-6">Discount Amount: <div class="pull-right">-{{roundTo2Decimals(item.discAmount)}}</div></div>
	                    </div>
	                    <div class="col-xs-12 bg-success">
                            <div class="col-xs-6"></div>
                            <div class="col-xs-6">After Discount Price: <div class="pull-right">{{roundTo2Decimals(item.totalPrice-item.discAmount)}}</div></div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="panel-footer no-print">
			    <button class="btn btn-danger pull-right" ng-if="request.lendTo == null || request.lendTo == 0" ng-click="sellItem(request)" access="ROLE_SELLER">Stock Out</button>
				<button class="btn btn-success pull-right" ng-click="modifyEstimatedItem(item)" access="ROLE_ESTIMATE">Modify</button>
				<button class="btn btn-warning pull-right" ng-click="applyDiscount(item)" access="ROLE_ESTIMATE">Discount</button>
				<button class="btn btn-danger" ng-click="addedItems2Estimate.splice(addedItems2Estimate.indexOf(item), 1)" access="ROLE_ESTIMATE">Exclude</button>
			</div>
		</div>
		<hr />
		<div class="list-group" ng-show="addedItems2Estimate.length > 0">
			<div class="list-group-item">
				<h4 class="list-group-item-heading">Estimate Summary</h4>
				<div class="col-xs-12">
					<div class="col-xs-6">Total Items: {{addedItems2Estimate.length}}</div>
					<div class="col-xs-6">Estimated Total Amount: <div class="pull-right">{{sum(addedItems2Estimate)}}</div></div>
				</div>
				<br />
				<div class="row no-print">
					<div class="pull-right">
						<button class="glyphicon glyphicon-print btn btn-warning" ng-click="printEstimate()" access="ROLE_ESTIMATE"></button>
						<button class="btn btn-danger glyphicon glyphicon-remove" type="button" ng-click="addedItems2Estimate.splice(0, addedItems2Estimate.length)"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>