<div ng-controller='ItemsController' ng-init="load(1)">
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <nav>
    	<div>
	        <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
	        <button type="button" class="btn btn-info" ng-click="load(1)">Refresh</button>
        </div>
		<div>
			<ul class="pagination">
				<li ng-class="{disabled: currentPage==1}"><a aria-label="Previous" ng-click="currentPage > 1 && load(currentPage - 1)"><span aria-hidden="true">Previous</span></a></li>
				<li ng-class="{active: page==currentPage}" ng-repeat="page in getNumber(pages)"><a ng-click="currentPage != page && load(page)">{{page}}</a></li>
				<li ng-class="{disabled: currentPage==pages}"><a aria-label="Next" ng-click="currentPage < pages && load(currentPage + 1)"><span aria-hidden="true">Next</span></a></li>
			</ul>
		</div>
	</nav>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="info table-row">
					<th>Name</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items" class="table-row">
					<td>{{item.name}}</td>
					<td>{{((item.lendTo == null || item.lendTo == 0) && item.sold == false) ? 'In Stock' : (item.sold == true ? 'Item Sold' : 'Item Lent')}}</td>
					<td>
					    <button type='button' class='btn btn-warning' ng-click="view(item)">View</button>
						<button type='button' class='btn btn-success' ng-click="add(item)" ng-show="(item.lendTo == null || item.lendTo == 0) && item.sold == false">Edit</button>
						<button type='button' class='btn btn-danger' ng-click="deleteRecord(item)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>