<div ng-controller='ItemsController' ng-init="load(1)">
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <nav>
    	<div>
	        <button type="button" class="btn btn-primary" ng-click="add()" access="ROLE_DATAENTRY">Add</button>
	        <button type="button" class="btn btn-info" ng-click="load(1)" access="ROLE_VIEW_ITEMS">Refresh</button>
        </div>
        <br />
        <div class="container">
			<div class="row">
			  <form>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Item name like" ng-model="search.name" list="newNames" />
					<datalist id="newNames">
                       <option ng-repeat="newItem in newItemNames" ng-value="newItem.name">{{newItem.name}}</option>
                    </datalist>
					<span class="input-group-btn">
						<button class="btn btn-default glyphicon glyphicon-search" type="submit" ng-click="load(1, search.name)"></button>
						<button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="search.name=''"></button>
					</span>
				</div>
			  </form>
			</div>
		</div>
		<div>
			<ul class="pagination noselect">
				<li ng-class="{disabled: currentPage==1}"><a aria-label="Previous" ng-click="currentPage > 1 && load(currentPage - 1)"><span aria-hidden="true">Previous</span></a></li>
				<li ng-class="{active: page==currentPage}" ng-repeat="page in getNumber(pages)"><a ng-click="currentPage != page && load(page)">{{page}}</a></li>
				<li ng-class="{disabled: currentPage==pages}"><a aria-label="Next" ng-click="currentPage < pages && load(currentPage + 1)"><span aria-hidden="true">Next</span></a></li>
			</ul>
		</div>
	</nav>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="info table-row">
					<th>Item ID</th>
					<th>Name</th>
					<th>Weight</th>
					<th>Type</th>
					<th>Category</th>
					<th>Status</th>
					<th access="ROLE_VIEW_ITEMS,ROLE_DATAENTRY,ROLE_LENDER,ROLE_ITEM_RETURNER,ROLE_SELLER">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items" class="table-row">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.weight}}</td>
					<td>{{item.itemType}}</td>
					<td>{{getCategoryName(item.category)}}</td>
					<td>{{((item.lendTo == null || item.lendTo == 0) && item.sold == false) ? 'In Stock' : (item.sold == true ? 'Item Stock out' : 'Item Lent')}}</td>
					<td access="ROLE_VIEW_ITEMS,ROLE_DATAENTRY,ROLE_LENDER,ROLE_ITEM_RETURNER,ROLE_SELLER">
					    <button type='button' class='btn btn-warning' ng-click="view(item)" access="ROLE_VIEW_ITEMS">View</button>
						<button type='button' class='btn btn-success' ng-click="add(item)" ng-show="(item.lendTo == null || item.lendTo == 0) && item.sold == false" access="ROLE_DATAENTRY">Edit</button>
						<button type='button' class='btn btn-danger' ng-click="deleteRecord(item)" access="ROLE_SELLER">Delete</button>
						<button type='button' class='btn btn-info' ng-click="showInStockOut(item)" ng-show="(item.lendTo == null || item.lendTo == 0) && item.sold == false" access="ROLE_LENDER,ROLE_ITEM_RETURNER,ROLE_SELLER">Stock Out</button>
						<button type='button' class='btn btn-success' ng-click="showInStockOut(item)" ng-show="(item.lendTo != null && item.lendTo > 0) && item.sold == false" access="ROLE_ITEM_RETURNER">Get back Item</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>