<div ng-controller="AlertsLendController"> 
    <div class="modal-header modal-header-danger">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Reason</span>
                <select class="form-control" ng-options="stockType.id as stockType.name for stockType in stockTypes" ng-model="clonedRequest.stockType" ng-init="clonedRequest.stockType=stockTypes[0]"></select>
            </div>
        </div>
	</div>
    <div class="modal-footer">
        <a class="btn btn-danger btn-large" ng-click="submitOption('no')"><i class="glyphicon glyphicon-remove"></i> No</a>
        <a class="btn btn-success btn-large" ng-click="submitOption('yes', confirmCallback)"><i class="glyphicon glyphicon-ok"></i> Yes</a>
    </div>
</div>