<div ng-controller="AlertsLendController"> 
    <div class="modal-header modal-header-danger">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
		<div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Lend to</span>
                <select class="form-control" ng-options="lendTo.id as lendTo.name for lendTo in lendTos" ng-model="selectedLendTo.id"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Lend Description</span>
                <textarea rows="4" ng-model="selectedLendTo.description" class="form-control"></textarea>
            </div>
        </div>
	</div>
    <div class="modal-footer">
        <a class="btn btn-danger btn-large" ng-click="submitOption('no')"><i class="glyphicon glyphicon-remove"></i> No</a>
        <a class="btn btn-success btn-large" ng-click="submitOption('yes', confirmCallback)"><i class="glyphicon glyphicon-ok"></i> Yes</a>
    </div>
</div>