<div ng-controller="AddStockTypeController"> 
    <div class="modal-header modal-header-primary">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <form ng-submit="save(request)" id="addForm">
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Name</span>
	                <input class="form-control" type="text" placeholder="Enter Stock Type Name" value="{{ request.name }}" ng-model="request.name" required="required" maxlength="45" />
	            </div>
	        </div>
	        <div class="form-group">
	        	<div class="input-group">
	                <div class="btn-group btn-group-justified" data-toggle="buttons" role="group">
		                <label class="btn-group btn btn-warning" ng-class="{'active':request.method==stmKey}" ng-repeat="(stmKey,stmVal) in stockMethods" ng-click="showHideDelete(stmKey, stmVal)">
		                    <input type="radio" id="stockMethod{{$index}}" name="stockMethod" ng-value="stmVal" ng-model="request.method" ng-required="!request.method" />{{stmKey}}
		                </label>
	                </div>
	            </div>
            </div>
            <div class="[ form-group ]" ng-if="showStockTypeDelete == true">
	            <input type="checkbox" name="delete-on-stock-trx" id="delete-on-stock-trx" autocomplete="off" ng-model="request.remove" />
	            <div class="[ btn-group ]">
	                <label for="delete-on-stock-trx" class="[ btn btn-danger ]">
	                    <span class="[ glyphicon glyphicon-ok ]"></span>
	                    <span> </span>
	                </label>
	                <label for="delete-on-stock-trx" class="[ btn btn-default active ]">
	                    Delete Item When this Stock Type Selected ?
	                </label>
	            </div>
	        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="addDialog.dismiss('cancel')">Close</button>
        <button type="submit" class="btn btn-primary" form="addForm">Save</button>
    </div>
</div>