<div ng-controller="AddUserController"> 
    <div class="modal-header modal-header-primary">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <form ng-submit="save(request)" id="addForm">
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Username</span>
	                <input class="form-control" type="text" placeholder="Enter Username" value="{{request.username}}" ng-model="request.username" required="required" maxlength="45" />
	            </div>
	        </div>
	        <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">User Full Name</span>
                    <input class="form-control" type="text" placeholder="Enter User Fullname" value="{{request.fullName}}" ng-model="request.fullName" required="required" maxlength="45" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="addDialog.dismiss('cancel')">Close</button>
        <button type="submit" class="btn btn-primary" form="addForm" access="ROLE_REFERENCE_ENTRY">Save</button>
    </div>
</div>