<div ng-controller="ChangeUserController" ng-init="init(request)"> 
    <div class="panel-header modal-header-primary">
        <h4 class="panel-title">Profile</h4>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
        <div class="alert alert-success" ng-show="message">{{message}}</div>
        <form ng-submit="save(request)" id="profileForm">
	        <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Full Name</span>
                    <input class="form-control" type="text" placeholder="Enter Full Name" value="{{request.fullName}}" ng-model="request.fullName" required="required" maxlength="45" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">New Password</span>
                    <input class="form-control" type="password" placeholder="New Password" value="{{request.password}}" ng-model="request.password" maxlength="16" ng-required="request.confirmPassword != null && request.confirmPassword.trim() != ''" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Confirm New Password</span>
                    <input class="form-control" type="password" placeholder="Confirm New Password" value="{{request.confirmPassword}}" ng-model="request.confirmPassword" maxlength="16" ng-required="request.password != null && request.password.trim() != ''" />
                </div>
            </div>
        </form>
    </div>
    <div class='pull-right'>
     <button type="submit" class="btn btn-primary" form="profileForm">Save Profile</button>
    </div>
</div>