<div ng-controller='GroupsController' ng-init="loadGroups()" access="ROLE_USER_MANAGER">
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <div>
        <button type="button" class="btn btn-primary" ng-click="add()" access="ROLE_USER_MANAGER">Add</button>
        <button type="button" class="btn btn-info" ng-click="load()">Refresh</button>
    </div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="info table-row">
					<th>Name</th>
					<th access="ROLE_USER_MANAGER">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="group in groups" class="table-row">
					<td>{{group.name}}</td>
					<td access="ROLE_USER_MANAGER">
						<button type='button' class='btn btn-danger' ng-click="deleteGroup(group)" access="ROLE_USER_MANAGER">Delete</button>
						<button type='button' class='btn btn-warning' ng-click="editAuthorities(group)" access="ROLE_USER_MANAGER">Authorities</button>
						<button type='button' class='btn' ng-click="showGroupUsers(group)" access="ROLE_USER_MANAGER">View Users</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>