<div ng-controller='UsersController' ng-init="load()" access="ROLE_USER_MANAGER">
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <div>
        <button type="button" class="btn btn-primary" ng-click="add()" access="ROLE_USER_MANAGER">Add</button>
        <button type="button" class="btn btn-info" ng-click="load()">Refresh</button>
    </div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="info table-row">
					<th>Name</th>
					<th access="ROLE_USER_MANAGER">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users" class="table-row">
					<td>{{user.fullName}}</td>
					<td access="ROLE_REFERENCE_ENTRY">
						<button type='button' class='btn btn-success' ng-click="add(user)" access="ROLE_USER_MANAGER">Edit</button>
						<button type='button' class='btn btn-danger' ng-click="deleteRecord(user)" access="ROLE_USER_MANAGER">Delete</button>
						<switch ng-model="user.enabled" enable-text="Enable" disable-text="Disable" callback="enableUser(user)" access="ROLE_USER_MANAGER" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>