<div ng-controller='CategoriesController' ng-init="load()">
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <div>
        <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
        <button type="button" class="btn btn-info" ng-click="load()">Refresh</button>
    </div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="info table-row">
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="category in categories" class="table-row">
					<td>{{category.name}}</td>
					<td>
						<button type='button' class='btn btn-success' ng-click="add(category)">Edit</button>
						<button type='button' class='btn btn-danger' ng-click="deleteRecord(category)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>