<div ng-controller='HomeController'>
    <nav class="navbar navbar-default"><!--  navbar-fixed-top  -->
		<div ng-controller="MenuController" class="container">
	       <div class="navbar-header">
	         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
	           <span class="sr-only">Toggle navigation</span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	         </button>
	         <a class="navbar-brand" href="#/home">yuventory</a>
	       </div>
	       <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
	          <ul class="nav navbar-nav">
	          	<li ng-class="{active: isSegment('stockOut')}" access="ROLE_LENDER,ROLE_SELLER,ROLE_ITEM_RETURNER"><a href="#/home/stockOut">Stock Out</a></li>
	            <li ng-class="{active: isSegment('stockIn')}" access="ROLE_DATAENTRY"><a href="#/home/stockIn">Stock In</a></li>
	            <li class="dropdown" ng-class="{active: isSegment('suppliers') || isSegment('categories') || isSegment('stockTypes')}" access="ROLE_REFERENCE_ENTRY,ROLE_DATAENTRY">
	               <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reference Data <span class="caret"></span></a>
	               <ul class="dropdown-menu">
                    <li ng-class="{active: isSegment('suppliers')}"><a href="#/home/suppliers">Suppliers</a></li>
                    <li ng-class="{active: isSegment('categories')}"><a href="#/home/categories">Categories</a></li>
                    <li ng-class="{active: isSegment('stockTypes')}"><a href="#/home/stockTypes">Stock Types</a></li>
                  </ul>
                </li>
	            <li ng-class="{active: isSegment('unifiedReport')}" access="ROLE_REPORTS"><a href="#/home/reports/unifiedReport">Reports</a></li>
	            <li ng-class="{active: isSegment('settings')}" access="ROLE_SETTINGS"><a href="#/home/settings">Settings</a></li>
	            <li class="dropdown" ng-class="{active: isSegment('users')}" access="ROLE_USER_MANAGER">
	              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users/ Roles <span class="caret"></span></a>
	              <ul class="dropdown-menu">
<!-- 	                <li role="separator" class="divider"></li> -->
<!-- 	                <li class="dropdown-header">Manage Users</li> -->
	                <li ng-class="{active: isSegment('users')}"><a href="#/home/users">Users</a></li>
	                <li ng-class="{active: isSegment('groups')}"><a href="#/home/groups">Groups</a></li>
	              </ul>
	            </li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#" ng-click="logout()">Logout</a></li>
	          </ul>
	       </div>
	    </div>
    </nav>
	<div class="container">
	   <div id="main-contents" app-view-segment="1"></div>
	</div>
</div>