<div ng-controller='SuppliersController' ng-init="load()">
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <div>
        <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
        <button type="button" class="btn btn-info" ng-click="load()">Refresh</button>
    </div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr class="info">
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="supplier in suppliers">
					<td>{{ supplier.name }}</td>
					<td class='btn-group'>
						<div>
							<button type='button' class='btn navbar-btn btn-success' ng-click="add(supplier)">Edit</button>
							<button type='button' class='btn navbar-btn btn-danger' ng-click="deleteRecord(supplier)">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>