<div ng-controller='SellController' ng-init="init()">
	<div class="container">
		<div class="row">
		  <form>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search item" ng-model="search.id" id='yuventoryBarcode' />
				<span class="input-group-btn">
					<button class="btn btn-default glyphicon glyphicon-search" type="submit" ng-click="searchItem(true)"></button>
					<button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="clearSearch()"></button>
				</span>
			</div>
		  </form>
		</div>
	</div>
	<div class="divider"><br /></div>
	<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
	<div class="panel panel-success" ng-if="search.hasResult==true && request.id != null">
		<div class="panel-heading">
			<h3 class="panel-title">{{request.name}}</h3>
		</div>
		<div class="panel-body" access="ROLE_LENDER,ROLE_ITEM_RETURNER,ROLE_SELLER,ROLE_VIEW_ITEMS">
			<div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Item ID</span>
	                <input class="form-control" type="text" ng-model="request.id" readonly="readonly" />
	            </div>
	        </div>
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Item Type</span>
	                <input class="form-control" type="text" ng-model="request.itemType" readonly="readonly" />
	            </div>
	        </div>
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Weight (in grams)</span>
	                <input class="form-control" type="text" ng-model="request.weight" readonly="readonly" />
	            </div>
	        </div>
	        <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Category</span>
                    <input class="form-control" type="text" ng-model="request.categoryDesc" readonly="readonly" />
                </div>
            </div>
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Stock Type</span>
	                <input class="form-control" type="text" ng-model="request.stockTypeDesc" readonly="readonly" />
	            </div>
	        </div>
	        <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-addon">Supplier</span>
	                <input class="form-control" type="text" ng-model="request.supplierDesc" readonly="readonly" />
	            </div>
	        </div>
	        <div class="form-group" ng-if="barcode">
	            <div class="input-group">
                    <span class="input-group-addon">Barcode</span>
                    <div class="section-to-print">
	                    <div class="barcodecontainer">
	                        <img src="data:image/png;base64,{{barcode}}" ng-if="barcode" />
	                        <div class="barcodecaption">
	                            <span class="barcodecaption1">{{request.weight}} gm</span>
	                            <span class="barcodecaption2">{{request.categoryDesc}}</span>
	                        </div>
	                    </div>
	                </div>
                </div>
	        </div>
	        <div ng-show="request.sold">
	            <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon alert-danger">Item Sold to</span>
                        <input class="form-control" type="text" ng-model="request.lendToDesc" readonly="readonly" />
                    </div>
                </div>
	        </div>
	        <div ng-hide="request.sold">
	            <div ng-if="request.lendTo != null && request.lendTo > 0">
	                <div class="form-group">
	                    <div class="input-group">
	                        <span class="input-group-addon alert-danger">Item Lend to</span>
	                        <input class="form-control" type="text" ng-model="request.lendToDesc" readonly="readonly" />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <div class="input-group">
	                        <span class="input-group-addon">Lend Description</span>
	                        <input class="form-control" type="text" ng-model="request.lendDescription" readonly="readonly" />
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
		<div class="panel-footer" ng-hide="request.sold" access="ROLE_LENDER,ROLE_ITEM_RETURNER,ROLE_SELLER">
			<button class="btn btn-success" ng-if="request.lendTo == null || request.lendTo == 0" ng-click="lendItem(request)" access="ROLE_LENDER">Lend Item</button>
			<button class="btn btn-success" ng-if="request.lendTo != null && request.lendTo > 0" ng-click="getItemBack(request)" access="ROLE_ITEM_RETURNER">Get back Item</button>
			<button class="btn btn-danger pull-right" ng-if="request.lendTo == null || request.lendTo == 0" ng-click="sellItem(request)" access="ROLE_LENDER,ROLE_SELLER">Sell Item</button>
		</div>
	</div>
</div>