<div ng-controller='SettingsController' ng-init="refreshSettings()" access="ROLE_SETTINGS">
	<div class="panel-body">
		<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
		<div class="divider">
			<br />
		</div>
		<div class="form-group">
		  <div class="input-group">
		        <span class="input-group-addon">Barcode Dimensions (WIDTH x HEIGHT)</span>
		        <span class="input-group-addon">{{settings.barcodeDimensions.barcode_width}} x {{settings.barcodeDimensions.barcode_height}} px</span>
		        <button class="form-control btn btn-warning pull-right" style="width: 200px" ng-click="popDimensions()">Change</button>
		  </div>
		</div>
		<div class="form-group">
		  <div class="input-group">
		        <span class="input-group-addon">Items to Display per Page</span>
		        <span class="input-group-addon">{{settings.pageSize}}</span>
		        <button class="form-control btn btn-warning pull-right" style="width: 200px" ng-click="popPageSize()">Change</button>
		  </div>
		</div>
        <div class="form-group">
          <div class="input-group">
                <span class="input-group-addon">Items count to show in Notifier</span>
                <span class="input-group-addon">{{settings.itemNotifySize}}</span>
                <button class="form-control btn btn-warning pull-right" style="width: 200px" ng-click="popNotifySize()">Change</button>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
                <span class="input-group-addon">Barcode Page Settings</span>
                <span class="input-group-addon">
                    <div>
                        <div class="pull-left">Page Width: {{settings.barcodePageSettings.page_width}} mm</div>
                        <div class="pull-left">Page Height: {{settings.barcodePageSettings.page_height}} mm</div>
                        <div class="pull-left">Margin Top: {{settings.barcodePageSettings.margin_top}} mm</div>
                        <div class="pull-left">Margin Right: {{settings.barcodePageSettings.margin_right}} mm</div>
                        <div class="pull-left">Margin Bottom: {{settings.barcodePageSettings.margin_bottom}} mm</div>
                        <div class="pull-left">Margin Left: {{settings.barcodePageSettings.margin_left}} mm</div>
                    </div>
                </span>
                <button class="form-control btn btn-warning pull-right" style="width: 200px" ng-click="popBarcodePageSettings()">Change</button>
          </div>
        </div>
	</div>
</div>